---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=&country_code=&enumeration_type=NPI-1&first_name=james&last_name=&limit=10&number=&organization_name=&postal_code=&skip=&state=&taxonomy_description=&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1932102951, "last_updated_epoch": 1491350400, "created_epoch": 1116806400,
        "basic": {"name_prefix": "DR.", "first_name": "JAIME", "last_name": "JIMENEZ
        AGOSTO", "credential": "M.D.", "sole_proprietor": "NO", "gender": "M", "enumeration_date":
        "2005-05-23", "last_updated": "2017-04-05", "status": "A", "name": "JIMENEZ
        AGOSTO JAIME"}, "other_names": [], "addresses": [{"country_code": "US", "country_name":
        "United States", "address_purpose": "LOCATION", "address_type": "DOM", "address_1":
        "1420 S 28TH AVE", "address_2": "", "city": "HATTIESBURG", "state": "MS",
        "postal_code": "394023107", "telephone_number": "601-264-3937", "fax_number":
        "601-264-5930"}, {"country_code": "US", "country_name": "United States", "address_purpose":
        "MAILING", "address_type": "DOM", "address_1": "1420 S 28TH AVE", "address_2":
        "", "city": "HATTIESBURG", "state": "MS", "postal_code": "394023107", "telephone_number":
        "601-264-3937", "fax_number": "601-264-5930"}], "taxonomies": [{"code": "207W00000X",
        "desc": "Ophthalmology", "primary": true, "state": "MS", "license": "12372"},
        {"code": "207W00000X", "desc": "Ophthalmology", "primary": false, "state":
        "TX", "license": "H8698"}, {"code": "207WX0107X", "desc": "Ophthalmology Retina
        Specialist", "primary": false, "state": "MS", "license": "12372"}, {"code":
        "207WX0108X", "desc": "Ophthalmology Uveitis and Ocular Inflammatory Disease",
        "primary": false, "state": "MS", "license": "12372"}], "identifiers": [{"identifier":
        "00115830", "code": "05", "desc": "MEDICAID", "state": "MS", "issuer": ""},
        {"identifier": "512I180024", "code": "01", "desc": "Other", "state": "MS",
        "issuer": "MEDICARE PTAN FOR SOUTHERN EYE PHYSICIAN''S CENTER LLC"}, {"identifier":
        "512I180025", "code": "01", "desc": "Other", "state": "MS", "issuer": "MEDICARE
        PTAN FOR SOUTHERN EYE SURGERY CENTER LLC"}]},{"enumeration_type": "NPI-1",
        "number": 1205839982, "last_updated_epoch": 1316044800, "created_epoch": 1116892800,
        "basic": {"name_prefix": "MRS.", "first_name": [...]
