---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=&country_code=&enumeration_type=NPI-1&first_name=&last_name=&limit=10&number=&organization_name=&postal_code=&skip=&state=&taxonomy_description=primary%20care&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1811990005, "last_updated_epoch": 1355184000, "created_epoch": 1116806400,
        "basic": {"name_prefix": "MRS.", "first_name": "DEBORAH", "last_name": "NEWSOME",
        "middle_name": "E", "credential": "ARNP-C", "sole_proprietor": "NO", "gender":
        "F", "enumeration_date": "2005-05-23", "last_updated": "2012-12-11", "status":
        "A", "name": "NEWSOME DEBORAH"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "4979 HEALTHY WAY", "address_2": "", "city": "MARIANNA",
        "state": "FL", "postal_code": "324467993", "telephone_number": "850-526-2412",
        "fax_number": "850-718-0383"}, {"country_code": "US", "country_name": "United
        States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "4979 HEALTHY WAY", "address_2": "", "city": "MARIANNA", "state": "FL", "postal_code":
        "324467993", "telephone_number": "850-526-2412", "fax_number": "850-718-0383"}],
        "taxonomies": [{"code": "363LP2300X", "desc": "Nurse Practitioner Primary
        Care", "primary": true, "state": "FL", "license": "ARNP1903302"}], "identifiers":
        [{"identifier": "306417400", "code": "05", "desc": "MEDICAID", "state": "FL",
        "issuer": ""}]},{"enumeration_type": "NPI-1", "number": 1508869330, "last_updated_epoch":
        1216598400, "created_epoch": 1116892800, "basic": {"name_prefix": "MRS.",
        "first_name": "ANNA", "last_name": "ALLEN", "middle_name": "K", "credential":
        "ARNP", "sole_proprietor": "NO", "gender": "F", "enumeration_date": "2005-05-24",
        "last_updated": "2008-07-21", "status": "A", "name": "ALLEN ANNA"}, "other_names":
        [], "addresses": [{"country_code": "US", "country_name": "Unit[...]
