---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=&country_code=&enumeration_type=NPI-1&first_name=&last_name=&limit=10&number=&organization_name=&postal_code=&skip=&state=&taxonomy_description=Counselor&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1598249856, "last_updated_epoch": 1537536169, "created_epoch": 1537488000,
        "basic": {"first_name": "AMANDA", "last_name": "MIKEDIS", "credential": "PH.D;
        B.A.", "sole_proprietor": "NO", "gender": "F", "enumeration_date": "2018-09-21",
        "last_updated": "2018-09-21", "status": "A", "name": "MIKEDIS AMANDA"}, "other_names":
        [], "addresses": [{"country_code": "US", "country_name": "United States",
        "address_purpose": "LOCATION", "address_type": "DOM", "address_1": "545 WESTMINSTER
        ST", "address_2": "", "city": "FITCHBURG", "state": "MA", "postal_code": "014204727",
        "telephone_number": "978-345-0685", "fax_number": "978-829-2210"}, {"country_code":
        "US", "country_name": "United States", "address_purpose": "MAILING", "address_type":
        "DOM", "address_1": "545 WESTMINSTER ST", "address_2": "", "city": "FITCHBURG",
        "state": "MA", "postal_code": "014204727", "telephone_number": "978-345-0685",
        "fax_number": "978-829-2210"}], "taxonomies": [{"code": "101Y00000X", "desc":
        "Counselor", "primary": true, "state": "", "license": ""}], "identifiers":
        []},{"enumeration_type": "NPI-1", "number": 1891251633, "last_updated_epoch":
        1550487087, "created_epoch": 1550448000, "basic": {"first_name": "BRIDGET",
        "last_name": "KELTNER", "middle_name": "I", "credential": "LMHC", "sole_proprietor":
        "NO", "gender": "F", "enumeration_date": "2019-02-18", "last_updated": "2019-02-18",
        "status": "A", "name": "KELTNER BRIDGET"}, "other_names": [], "addresses":
        [{"country_code": "US", "country_name": "United States", "address_purpose":
        "LOCATION", "address_type": "DOM", "address_1": "5700 LAKE WORTH RD STE 110",
        "address_2": "", "city": "GREENACRES", "state": "FL", "postal_code": "334633213",
        "telephon[...]
[...]
