---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=&country_code=&enumeration_type=NPI-1&first_name=&last_name=&limit=10&number=&organization_name=&postal_code=&skip=&state=KY&taxonomy_description=Technician,%20Pathology&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1447883228, "last_updated_epoch": 1582146643, "created_epoch": 1582070400,
        "basic": {"first_name": "KAYLIN", "last_name": "DALTON", "middle_name": "MICHELLE",
        "credential": "PHLEBOTOMIST", "sole_proprietor": "YES", "gender": "F", "enumeration_date":
        "2020-02-19", "last_updated": "2020-02-19", "status": "A", "name": "DALTON
        KAYLIN", "certification_date": "2020-02-19"}, "other_names": [], "addresses":
        [{"country_code": "US", "country_name": "United States", "address_purpose":
        "LOCATION", "address_type": "DOM", "address_1": "2190 ELMCREST DR APT 4",
        "address_2": "", "city": "BARDSTOWN", "state": "KY", "postal_code": "400042319",
        "telephone_number": "502-373-7282"}, {"country_code": "US", "country_name":
        "United States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "2190 ELMCREST DR APT 4", "address_2": "", "city": "BARDSTOWN", "state": "KY",
        "postal_code": "400042319", "telephone_number": "502-373-7282"}], "taxonomies":
        [{"code": "246RP1900X", "desc": "Technician, Pathology Phlebotomy", "primary":
        true, "state": "", "license": ""}], "identifiers": [], "endpoints": [{"endpointType":
        "OTHERS", "endpointTypeDescription": "Other URL", "endpoint": "kaylin.dalton1@gmail.com",
        "endpointDescription": "email", "affiliation": "N", "affiliationName": "",
        "use": "HIE", "useDescription": "Health Information Exchange (HIE)", "useOtherDescription":
        "", "contentType": "CSV", "contentTypeDescription": "CSV", "contentOtherDescription":
        "", "address_type": "DOM", "address_1": "2190 ELMCREST DR APT 4", "address_2":
        "", "city": "BARDSTOWN", "state": "KY", "country_code": "US", "postal_code":
        "400042319", "country_name": "United States"}]},{"enumeration_type": "NPI-1",
        "number": 1497089130, "last_updated_epoch": 1254182400, "created_epoch": 1254182400,
        "basic": {"name_prefix": "MR.", "first_name": "KENNETH", "last_name": "KEITH",
        "middle_name": "WAYNE", "name_suffix": "JR.", "credential": "M.L.T.", "sole_proprietor":
        "NO", "gender": "M", "enumeration_date": "2009-09-29", "last_updated": "2009-09-29",
        "status": "A", "name": "KEITH KENNETH"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "800 ZORN AVE", "address_2": "", "city": "LOUISVILLE",
        "state": "KY", "postal_code": "402061433", "telephone_number": "502-287-[...]
[...]
