---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=&country_code=&enumeration_type=NPI-1&first_name=&last_name=&limit=10&number=&organization_name=&postal_code=&skip=&state=&taxonomy_description=some%20nonsense%20that%20is%20not%20actually%20a%20specialty&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Errors": [{"field": "taxonomy_description", "number": "14", "description":
        "No taxonomy codes found with entered description"}]}'
  recorded_at: Sun, 09 Jan 2022 20:29:29 GMT
recorded_with: VCR 6.0.0
