---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=Lexington&country_code=&enumeration_type=NPI-1&first_name=&last_name=&limit=30&number=&organization_name=&postal_code=&skip=&state=KY&taxonomy_description=primary%20care&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":21, "results":[{"enumeration_type": "NPI-1", "number":
        1780199638, "last_updated_epoch": 1521244800, "created_epoch": 1513123200,
        "basic": {"first_name": "ALYSSA", "last_name": "FLEMING", "credential": "APRN",
        "sole_proprietor": "YES", "gender": "F", "enumeration_date": "2017-12-13",
        "last_updated": "2018-03-17", "status": "A", "name": "FLEMING ALYSSA"}, "other_names":
        [], "addresses": [{"country_code": "US", "country_name": "United States",
        "address_purpose": "LOCATION", "address_type": "DOM", "address_1": "225 FALCON
        DR", "address_2": "", "city": "MT STERLING", "state": "KY", "postal_code":
        "403539792", "telephone_number": "859-497-5000"}, {"country_code": "US", "country_name":
        "United States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "3348 ORCHARD GRASS RD", "address_2": "", "city": "LEXINGTON", "state": "KY",
        "postal_code": "405098642", "telephone_number": "859-967-6485"}], "taxonomies":
        [{"code": "363L00000X", "desc": "Nurse Practitioner", "primary": true, "state":
        "KY", "license": "3011929"}, {"code": "363LP2300X", "desc": "Nurse Practitioner
        Primary Care", "primary": false, "state": "KY", "license": "3011929", "taxonomy_group":
        "193400000X SINGLE SPECIALTY  GROUP"}], "identifiers": [], "practiceLocations":
        [{"address_type": "DOM", "address_1": "3348 ORCHARD GRASS RD", "address_2":
        "", "city": "LEXINGTON", "state": "KY", "postal_code": "405098642", "country_code":
        "US", "country_name": "United States", "fax_number": "859-967-6485", "telephone_number":
        "859-967-6485", "update_date": "2018-03-15 10:46"}]},{"enumeration_type":
        "NPI-1", "number": 1598239592, "last_updated_epoch": 1547468051, "created_epoch":
        1547424000, "basic": {"name_prefix": "MRS.", "first_name": "CHRISTINA", "last_name":
        "BARNETT", "middle_name": "LEIGH", "credential": "APRN", "sole_proprietor":
        "NO", "gender": "F", "enumeration_date": "2019-01-14", "last_updated": "2019-01-14",
        "status": "A", "name": "BARNETT CHRISTINA"}, "other_names": [], "addresses":
        [{"country_code": "US", "country_name": "United States", "address_purpose":
        "LOCATION", "address_type": "DOM", "address_1": "2337 SIR BARTON WAY", "address_2":
        "", "city": "LEXINGTON", "state": "KY", "postal_code": "405092474", "telephone_number":[...]
[...]
