---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?address_purpose=&city=&country_code=&enumeration_type=NPI-1&first_name=&last_name=&limit=10&number=&organization_name=&postal_code=&skip=&state=&taxonomy_description=mental%20health&use_first_name_alias=&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1891251633, "last_updated_epoch": 1550487087, "created_epoch": 1550448000,
        "basic": {"first_name": "BRIDGET", "last_name": "KELTNER", "middle_name":
        "I", "credential": "LMHC", "sole_proprietor": "NO", "gender": "F", "enumeration_date":
        "2019-02-18", "last_updated": "2019-02-18", "status": "A", "name": "KELTNER
        BRIDGET"}, "other_names": [], "addresses": [{"country_code": "US", "country_name":
        "United States", "address_purpose": "LOCATION", "address_type": "DOM", "address_1":
        "5700 LAKE WORTH RD STE 110", "address_2": "", "city": "GREENACRES", "state":
        "FL", "postal_code": "334633213", "telephone_number": "561-880-4877"}, {"country_code":
        "US", "country_name": "United States", "address_purpose": "MAILING", "address_type":
        "DOM", "address_1": "7375 CANAL DR", "address_2": "", "city": "LAKE WORTH",
        "state": "FL", "postal_code": "334675635", "telephone_number": "561-379-2861"}],
        "taxonomies": [{"code": "101YM0800X", "desc": "Counselor Mental Health", "primary":
        true, "state": "FL", "license": "MH14636"}], "identifiers": []},{"enumeration_type":
        "NPI-1", "number": 1689677601, "last_updated_epoch": 1183852800, "created_epoch":
        1116806400, "basic": {"first_name": "ALAN", "last_name": "CHRISTENBERRY",
        "middle_name": "J", "sole_proprietor": "NO", "gender": "M", "enumeration_date":
        "2005-05-23", "last_updated": "2007-07-08", "status": "A", "name": "CHRISTENBERRY
        ALAN"}, "other_names": [], "addresses": [{"country_code": "US", "country_name":
        "United States", "address_purpose": "LOCATION", "address_type": "DOM", "address_1":
        "119 W MARKET ST", "address_2": "", "city": "COLUMBIA CITY", "state": "IN",
        "postal_code": "467252311", "telephone_number": "260-248-8176", "fax_number":
        "260-248-2236"}, {"country_code": "US", "country_name": "United States", "address_purpose":
        "MAILING", "address_type": "DOM", "address_1": "850 N HARRISON ST", "address_2":
        "", "city": "WARSAW", "state": "IN", "postal_code": "465803163", "telephone_number":
        "574-267-7169", "fax_number": "574-269-3995"}], "taxonomies": [{"code": "101YM0800X",
        "desc": "Counselor Mental Health", "primary": true, "state": "IN", "license":
        "39001088A"}], "identifiers": []},{"enumeration_type": "NPI-1", "number":
        1871596072, "last_updated_epoch": 1379635200, "created_epoch": 1116806400,
        "basic": {"name_prefix": "MRS.", "first_name": "SHERRYL", "last_name": "PAVLICK",
        "middle_name": "D", "credential": "RN,C,MSN,CRNP", "sole_proprietor": "NO",
        "gender": "F", "enumeration_date": "2005-05-23", "last_updated": "2013-09-20",
        "status": "A", "name": "PAVLICK SHERRYL"}, "other_names": [], "addresses":
        [{"country_code": "US", "country_name": "United States", "address_purpose":
        "LOCATION", "address_type": "DOM", "address_1": "575 COAL VALLEY RD", "address_2":
        "STE 407", "city": "CLAIRTON", "state": "PA", "postal_code": "150253726",
        "telephone_number": "412-469-7933", "fax_number": "412-469-7024"}, {"country_code":
        "US", "country_name": "United States", "address_purpose": "MAILING", "address_type":
        "DOM", "address_1": "1415 6TH ST", "address_2": "", "city": "PITTSBURGH",
        "state": "PA", "postal_code": "152342737", "telephone_number": "412-469-7933",
        "fax_number": "412-469-7024"}], "taxonomies": [{"code": "363LP0808X", "desc":
        "Nurse Practitioner Psych/Mental Health", "primary": true, "state": "PA",
        "license": "VP005719L"}], "identifiers": [{"identifier": "031996", "code":
        "01", "desc": "Other", "state": "PA", "issuer": "PIN"}]},{"enumeration_type":
        "NPI-1", "number": 1548263775, "last_updated_epoch": 1319414400, "created_epoch":
        1116806400, "basic": {"first_name": "LINDA", "last_name": "ANDERSON", "middle_name":
        "JEAN", "credential": "ARNP", "sole_proprietor": "NO", "gender": "F", "enumeration_date":
        "2005-05-23", "last_updated": "2011-10-24", "status": "A", "name": "ANDERSON
        LINDA"}, "other_names": [], "addresses": [{"country_code": "US", "country_name":
        "Unite[...]
[...]
