<footer>
  <div class="container">
    <ul>
      <li><a href="https://github.com/fpsvogel/doctorlookup">GitHub repo</a></li>
      <li>Made by <a href="https://fpsvogel.com/">Felipe Vogel</a></li>
      <li>Powered by <a href="https://rubyonrails.org/">Ruby on Rails</a>, <a href="https://picocss.com/">Pico</a>, and the <a href="https://npiregistry.cms.hhs.gov/registry/help-api">NPPES NPI API</a>.</li>
    </ul>
  </div>
</footer>
