<title>Doctor Lookup</title>
<meta name="description" content="Look up doctors in the U.S." />
<link rel="canonical" href="https://doctorlookup.herokuapp.com/" />

<meta property="og:title" content="Doctor Lookup: Find your doctor" />
<meta property="og:description" content="Look up doctors in the U.S." />
<meta property="og:url" content="https://doctorlookup.herokuapp.com/" />
<meta property="og:image" content="https://doctorlookup.herokuapp.com/android-chrome-512x512.png" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary" />
<meta property="twitter:image" content="https://doctorlookup.herokuapp.com/android-chrome-512x512.png" />
<meta property="twitter:title" content="Doctor Lookup: Find your doctor" />
<meta property="twitter:description" content="Look up doctors in the U.S." />
<meta name="twitter:creator" content="@fpsvogel" />