:root {
  --background-color-dark: #ececec;
  --form-element-spacing-vertical: .5rem;
  --form-element-spacing-horizontal: .75rem;
  --alert-color: var(--form-element-invalid-active-border-color);
  // see the comment below under ALERTS.
  --alert-color-rgb: 211, 47, 47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-dark: #0c1217;
  }
}

// BASIC LAYOUT

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 0 0 2rem !important;
}

footer {
  margin-top: auto;
  background-color: var(--background-color-dark);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  & ul, & ul li {
    list-style: none;
    font-size: 90%;
  }
  & li {
    display: inline-block;
  }
  & li:not(:last-child)::after {
    margin: 0 0.25rem;
    content: "·";
  }
}

// FORMS

fieldset legend, label {
  display: inline-block;
}

input[type=submit] {
  max-width: 6rem;
}

label[for^=query_gender] {
  display: inline-block;
  padding: calc(var(--form-element-spacing-vertical)) calc(var(--form-element-spacing-horizontal) * .75);
}

// SELECTIZE.JS

.selectize-input, .selectize-dropdown {
  border: var(--border-width) solid var(--form-element-border-color) !important;
  border-radius: var(--border-radius) !important;
}

.selectize-input {
  background: none !important;
  padding: 0 var(--form-element-spacing-horizontal) !important;
  box-shadow: none !important;
  --height-fix: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
  height: var(--height-fix) !important;
  &.full {
    line-height: var(--height-fix) !important;
  }
  &.not-full input {
    // without this min-width, the inner input becomes very narrow in some circumstances,
    // e.g. when search parameters are invalid and the page refreshes or re-renders with an alert.
    min-width: 33px !important;
  }
  & input, .item {
    color: var(--form-element-color) !important;
    font-size: .8rem !important;
  }
}

// // in case I can find a way for the search form to retrieve Selectize.js multi-select.
// .selectize-control.multi .selectize-input [data-value] {
//   font-size: 13px !important;
//   color: var(--primary-inverse) !important;
//   background-image: none !important;
//   background-color: var(--primary) !important;
// }

.selectize-dropdown {
  background: var(--background-color-dark) !important;
  color: var(--form-element-color) !important;
}

// ALERTS

div[role=alert] {
  color: var(--alert-color);
  border: calc(var(--border-width) * 1.5) solid var(--alert-color);
  // soon this will be possible:
  // background-color: rgba(from var(--alert-color) r g b, .15);
  // see https://blog.jim-nielsen.com/2021/css-relative-colors
  // but for now, I need to use a second color variable converted to rgb:
  background-color: rgba(var(--alert-color-rgb), .15);
  border-radius: var(--border-radius);
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  margin-bottom: var(--spacing);
}

// RESULTS

#results {
  --small-spacing-vertical: calc(var(--typography-spacing-vertical) / 4);
  h2 {
    --font-size: 1.25rem;
    margin-bottom: var(--small-spacing-vertical);
  }
  p {
    margin-bottom: var(--small-spacing-vertical);
  }
  .address {
    margin-bottom: var(--typography-spacing-vertical);
  }
  article {
    padding-bottom: 0;
  }
}